* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
 background: black;
}

video{
    width: 100%;

  object-fit: cover; 
  object-position: center 100px; 
  
    animation: zoomFondo 20s ease-in-out infinite alternate;
}


  @keyframes zoomFondo {
        0% {
            background-size: 120%;
            background-position: -190px -160px;
        }
        100% {
            background-size: 125%;
            background-position: -180px -120px;
        }
    } 

